.types {
    &__block {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 60px;
        align-items: center;
        .pic-block{

        }
        .text{
            h3, .h3 {
                color: #909090;
                +p {
                    margin-top: 25px;
                }
            }
            p {
                +.btn {
                    margin-top: 35px;
                }
            }
        }
        +.types__block {
            margin-top: 60px;
        }
    }
}


@media screen and (max-width: 990px) {
    .types{
        &__block {
            grid-template-columns: repeat(1,1fr);
            gap: 32px;
            .pic-block{
                order: 1;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .text{
                order: 2;
            }
            h3,.h3{
                font-size: 32px;
            }
        }
        .btn{
            padding: 18px 0;
            width: 100%;
            text-align: center;
        }
    }
}